<h1>Transactions</h1>

<table class="center">
  <tr>
    <th class="center">Total Spend</th>
    <th class="center">£<%= @transaction_total %></th>
  </tr>
  <tr>

  </tr>
</table>


<table class="center">
  <tr>
    <td>
      <label>
      Sort By:
      <select name="transaction_id">
        <option action="/transactions/sorted/<%= @transaction_order %>" method="get" value="Date">Date</option>
      </select>
    </label>
  </td>
  </tr>
  <tr>
    <td><a class="center" href="/transactions/new">New Transaction</a></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <th>Date</th>
    <th></th>
    <th>Merchant</th>
    <th></th>
    <th>Transaction Type</th>
    <th></th>
    <th>Amount</th>
  </tr>
  <% for transaction in @transactions %>
  <tr>
    <td><%= transaction.date_time %></td>
    <td></td>
    <td><%= transaction.merchant.name  %></td>
    <td></td>
    <td><%= transaction.tag.type %></td>
    <td></td>
    <td>£<%= transaction.amount %></td>
    <td><form action="/transactions/<%= transaction.id %>/delete" method="POST">
      <input type="submit" value="DELETE">
    </form></td>
  </tr>
  <% end %>
</table>
